# Dependencias básicas para un servicio FastAPI
fastapi
uvicorn

# TODO: Agrega las librerías específicas de tu servicio aquí

# Por ejemplo, si usas PostgreSQL:
# psycopg2-binary
# sqlalchemy

# DB
psycopg2-binary
sqlalchemy

# multipart support for UploadFile/form parsing
python-multipart

# Si usas MongoDB:
# motor
# pymongo

# Si usas Redis:
# redis